<div
  data-controller="map"
  data-map-width-value="<%= @width %>"
  data-map-height-value="<%= @height %>"
  data-map-background-url-value="<%= @background_url %>">
  <svg
    id="factory-map"
    width="100%"
    height="100%"
    viewBox="0 0 <%= @width %> <%= @height %>"
    xmlns="http://www.w3.org/2000/svg"
    class="border">
    <!-- Use a placeholder.com image instead of a local asset -->
    <image
      href="<%= asset_path(@background_url) %>"
      x="0"
      y="0"
      width="<%= @width %>"
      height="<%= @height %>"
      preserveAspectRatio="xMidYMid slice" />
    <g id="nodes-layer"></g>
  </svg>
</div>
